<ul class="nav p-3 justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">
      <img src="../../assets/logo/icons8-twitter-64.png" alt="" />
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <img src="../../assets/logo/icons8-gmail-64.png" alt="" />
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <img src="../../assets/logo/icons8-discord-64.png" alt="" />
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <img src="../../assets/logo/icons8-youtube-64.png" alt="" />
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <img src="../../assets/logo/icons8-deviantart-64.png" alt="" />
    </a>
  </li>
</ul>
