<section class="mt-2 mb-5 p-5">
  <h2 class="cc-h2">About</h2>
  <br>
  <h3 class="cc-h3">Hello I am <span class="cc-name">Margaux Lam</span></h3>
  <br>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ad sunt
    veniam at necessitatibus, doloremque dolor eligendi hic harum tempore
    consequatur provident tempora voluptatum accusantium nihil magnam dolorem,
    reiciendis totam!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsa
    architecto, consectetur ipsum dolorum molestiae aliquam inventore fugit
    quasi aut excepturi aliquid officia laborum sunt rem blanditiis vitae, enim
    aspernatur.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis eaque
    tempore dolores facere iusto corporis perspiciatis, corrupti debitis.
    Eligendi laboriosam molestiae nulla. Dolores, omnis? Sed ratione amet
    placeat dolor! Praesentium!
  </p>
</section>
