<section class="container mt-4 p-5">
  <h2 class="cc-h2">Gallery</h2>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img
          src="../../assets/gallery/animal-gf6e5c939c_640.png"
          class="img-thumbnail mb-4"
          alt=""
        />
      </div>
      <div class="col-sm-4">
        <img
          src="../../assets/gallery/donuts-gc5164f9bc_640.jpg"
          class="img-thumbnail mb-4"
          alt=""
        />
      </div>
      <div class="col-sm-4">
        <img
          src="../../assets/gallery/embroidery-g04b2af8c4_640.png"
          class="img-thumbnail mb-4"
          alt=""
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img
          src="../../assets/gallery/flowers-g24a8ed750_640.png"
          class="img-thumbnail mb-4"
          alt=""
        />
      </div>
      <div class="col-sm-4">
        <img
          src="../../assets/gallery/illustration-gd884c5a1a_640.jpg"
          class="img-thumbnail mb-4"
          alt=""
        />
      </div>
      <div class="col-sm-4">
        <img
          src="../../assets/gallery/illustration-gf6b48c6a5_640.png"
          class="img-thumbnail mb-4"
          alt=""
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img
          src="../../assets/gallery/lion-g205491be3_640.jpg"
          class="img-thumbnail mb-4"
          alt=""
        />
      </div>
      <div class="col-sm-4">
        <img
          src="../../assets/gallery/pexels-cottonbro-3778969.jpg"
          class="img-thumbnail mb-4"
          alt=""
        />
      </div>
      <div class="col-sm-4">
        <img
          src="../../assets/gallery/pexels-eberhard-grossgasteiger-2086361.jpg"
          class="img-thumbnail mb-4"
          alt=""
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img
          src="../../assets/gallery/pink-g5e79f0a1d_640.jpg"
          class="img-thumbnail mb-4"
          alt=""
        />
      </div>
      <div class="col-sm-4">
        <img
          src="../../assets/gallery/rose-g4b964463f_640.png"
          class="img-thumbnail mb-4"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
