<section class="mt-2 p-5">
  <h2 class="cc-h2">Commission</h2>
  <br />
  <p>laboriosam porro id iste, eligendi similique et!</p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, temporibus
    nam cum atque quia modi sequi! Recusandae a deleniti animi quis! Facilis
    aliquid ullam debitis magni, natus recusandae officia corrupti!
  </p>
  <div class="container">
    <div class="row">
      <div class="col">
        <figure>
          <img
            src="../../assets/commission/illustration-gf6b48c6a5_640.png"
            alt=""
            class="img-thumbnail mb-4"
          />
          <figcaption>
            <a href="" class="cc-link">Service 10$</a>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure>
          <img
            src="../../assets/commission/lion-g205491be3_640.jpg"
            alt=""
            class="img-thumbnail mb-4"
          />
          <figcaption>
            <a href="" class="cc-link">Service 20$</a>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <figure>
          <img
            src="../../assets/commission/rose-g4b964463f_640.png"
            alt=""
            class="img-thumbnail mb-4"
          />
          <figcaption>
            <a href="" class="cc-link">Service 30$</a>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure>
          <img
            src="../../assets/commission/sunflower-gfb9f41a9c_1280.png"
            alt=""
            class="img-thumbnail mb-4"
          />
          <figcaption>
            <a href="" class="cc-link">Service 40$</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
